h1 {
    font-size: 50px;
}

.card {
    width: 50%;
}

body {
    background: url("../images/stonehaven.png") no-repeat center center;
    background-size: cover;
    min-height:100%;
    position:relative;
    padding-bottom:[footer-height];
 }

 .rounded {
     margin: 10px;
 }